/*css tricks css masonry grid*/
:root {
    --main-color: #282828;
    --secondary-color: #F5EEE2;
}

@font-face {
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-heavy-webfont.woff");
    font-family: "San-Francisco-Heavy";
}

@font-face {
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
    font-family: "San-Francisco-Medium";

    @font-face {
        src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-light-webfont.woff");
        font-family: "San-Francisco-Light";
    }
}

html {
    font-size: 100%; /*16px*/
    font-family: San-Francisco-Medium, Helvetica;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    font-family: San-Francisco-Heavy, Helvetica;
}

h1 {
    font-size: 2rem;
    font-weight: 1000;
    color: var(--secondary-color);
}

#about {
    font-weight: 600;
    color: var(--secondary-color);
}

body {
    background-color: var(--main-color);
}

#grid {
    height: calc(100vh - 6em);
    padding: 1em;
    display: grid;
    gap: 1em;
    grid-template-columns: 2fr 2fr 1fr 2fr 2fr;
    column-gap: 1em;
    grid-template-rows: 3fr 1fr 3fr;
}

.category {
    border: solid 1px white;
    border-radius: 5px;
}

#photos {
    grid-column: 1;
    grid-row: 1;
}

#banknotes {
    grid-column: 2;
    grid-row: 1 / 3;
}

#catalogues {
    grid-column: 3 / 5;
    grid-row: 1;
}

#objects {
    grid-column: 5;
    grid-row: 1 / 3;
}

#centre {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    align-items: centre;
    justify-items: centre;

}

#centre img {
    aspect-ratio: 1 / 1;
    width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

#journals {
    grid-column: 1;
    grid-row: 2 / 4;
}

#labelling {
    grid-column: 2 / 4;
    grid-row: 3;
}

#branding {
    grid-column: 4;
    grid-row: 2 / 4;
}

#artworks {
    grid-column: 5;
    grid-row: 3;
}